<div class="logo">
  <div 
    class="hint--always hint--top"
    data-hint="mplifyr is getting a new look. We'll Be Back soon."
  >
    <a href="http://mplifyr.com">
      <img
        src="./images/logo-v2.png"
        alt="Mplifyr"
      />
    </a>
  </div>
</div>
