@import "./hacks/_ie";
@import "./overrides/_base";
@import "./vendors/_base";

@import "./responses/_base";
@import "./components/_base";
@import "./modules/_base";
@import "./templates/_base";
@import "./pages/_base";

[ng-view] {
  text-align: center;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-flex-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

[data-hint]:after {
  left: 15% !important;
}

.accessibly-hide {
  position: absolute;
  left: -9999px;
}
