/***
@fileOverview

@description

***/
/*@import "compass/reset";*/
/***
@fileOverview

                      _             _     _
                  _  (_)           (_)   | |
     _____ ____ _| |_ _  ____  ____ _  __| |
    (____ |  _ (_   _) |/ _  |/ ___) |/ _  |
    / ___ | | | || |_| ( (_| | |   | ( (_| |
    \_____|_| |_| \__)_|\___ |_|   |_|\____|
                       (_____|

A SASS-y, idiomatic, "abstract" but lightweight responsive grid system for 
vertically centered grids/elements, "flanks", "castling", and full viewport 
splits.

@project   antigrid
@version   0.0.1
@package   html5-css3
@author    nerdfiles
@cssdoc    version 1.0-pre
@license   WTFPL

***/
@import url(http://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab);
@import url(../../../../vendors/hint.css/hint.css);
/* line 5, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ------------------------------ Defaults  */
/* ------------------------------ Global  */
/* line 45, ../../../vendors/antigrid/_system/sass/_screen.scss */
* {
  box-sizing: border-box;
}

/** ----------------------------- Basic Functions

    @description

      Lifted from ZURB's Foundation 5.

    @see http://sass-lang.com/documentation/Sass/Script/Functions.html#nth-instance_method,
      http://sass-lang.com/documentation/Sass/Script/Functions.html#length-instance_method

**/
/** ----------------------------- Media Queries

    @description

      Modified from ZURB's Foundation 5.

    @usage

      @media \$small {
      }

      @media \$slinder {
      }

      @media \$medium {
      }

      @media \$large {
      }

**/
/* 0, 320px */
/* 641px, 800px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
/* ------------------------------ Utilities  */
/* ------------------------------ Grid System  */
/* ------------------------------ Views  */
/* ------------------------------ Elements  */
/* ------------------------------ Implementation  */
/* line 566, ../../../vendors/antigrid/_system/sass/_screen.scss */
:root {
  /*
    A full-height viewport splitter tool. Use at top level of SASS/CSS document.

    @note If $vertical-center is true, then we are expecting that our grid 
          system will not be applied for the topmost level; so nesting within 
          another arbitrary, non-semantic layer will be necessary; that is, 
          three "ranks" will be necessary before the grid can take place 
          with centering.

    @usage

      <body>
        <div class="rank">
          <div class="rank">
          </div>
          <div class="rank">
          </div>
        </div>
      </body>

    @detail

      -----------------------------
      |             |             |
      |             |             |
      |             |             |
      |             |             |
      |             |             |
      |             |             |
      |             |             |
      |             |             |
      -----------------------------

  */
}
/* line 170, ../../../vendors/antigrid/_system/sass/_screen.scss */
:root, :root body {
  height: 100%;
}
/* line 174, ../../../vendors/antigrid/_system/sass/_screen.scss */
:root body > .rank {
  min-height: 100%;
  display: flex;
}
/* line 179, ../../../vendors/antigrid/_system/sass/_screen.scss */
:root body > .rank > .rank {
  padding-left: 0;
  padding-right: 0;
  flex: 1;
  min-height: 100%;
  justify-content: center;
  flex-direction: column;
}

/* line 570, ../../../vendors/antigrid/_system/sass/_screen.scss */
:root.with-centered-ranks {
  /*
    A full-height viewport splitter tool. Use at top level of SASS/CSS document.

    @note If $vertical-center is true, then we are expecting that our grid 
          system will not be applied for the topmost level; so nesting within 
          another arbitrary, non-semantic layer will be necessary; that is, 
          three "ranks" will be necessary before the grid can take place 
          with centering.

    @usage

      <body>
        <div class="rank">
          <div class="rank">
          </div>
          <div class="rank">
          </div>
        </div>
      </body>

    @detail

      -----------------------------
      |             |             |
      |             |             |
      |             |             |
      |             |             |
      |             |             |
      |             |             |
      |             |             |
      |             |             |
      -----------------------------

  */
}
/* line 170, ../../../vendors/antigrid/_system/sass/_screen.scss */
:root.with-centered-ranks, :root.with-centered-ranks body {
  height: 100%;
}
/* line 174, ../../../vendors/antigrid/_system/sass/_screen.scss */
:root.with-centered-ranks body > .rank {
  min-height: 100%;
  display: flex;
}
/* line 179, ../../../vendors/antigrid/_system/sass/_screen.scss */
:root.with-centered-ranks body > .rank > .rank {
  padding-left: 0;
  padding-right: 0;
  flex: 1;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 960px) {
  /*
    @abstract
    @usage

      <div class="rank">
        <div class="file-l{{N}}-m{{N}}-s{{N}}">
        ...
        </div>
      </div

    @detail file-l4-m3-s6::file-l2-m3-s6

      "large"
      -----------------------------
      |                   |       |
      |                   |       |
      -----------------------------

      "medium"
      ---------------------
      |         |         |
      |         |         |
      ---------------------

      "small"
      --------
      |      |
      |      |
      --------
      |      |
      |      |
      --------

  */
  /* line 305, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-l6"] {
    width: 100%;
  }

  /* line 309, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-l5"] {
    width: 83.333333334%;
  }

  /* line 313, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-l4"] {
    width: 66.666666667%;
  }

  /* line 317, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-l3"] {
    width: 50%;
  }

  /* line 321, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-l2"] {
    width: 33.333333333%;
  }

  /* line 325, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-l1"] {
    width: 16.666666667%;
  }

  /* line 330, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-l"][class*="__centered"] {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 500px) and (max-width: 959px) {
  /*
    @abstract
    @usage

      <div class="rank">
        <div class="file-l{{N}}-m{{N}}-s{{N}}">
        ...
        </div>
      </div

    @detail file-l4-m3-s6::file-l2-m3-s6

      "large"
      -----------------------------
      |                   |       |
      |                   |       |
      -----------------------------

      "medium"
      ---------------------
      |         |         |
      |         |         |
      ---------------------

      "small"
      --------
      |      |
      |      |
      --------
      |      |
      |      |
      --------

  */
  /* line 305, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-m6"] {
    width: 100%;
  }

  /* line 309, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-m5"] {
    width: 83.333333334%;
  }

  /* line 313, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-m4"] {
    width: 66.666666667%;
  }

  /* line 317, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-m3"] {
    width: 50%;
  }

  /* line 321, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-m2"] {
    width: 33.333333333%;
  }

  /* line 325, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-m1"] {
    width: 16.666666667%;
  }

  /* line 330, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-m"][class*="__centered"] {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 499px) {
  /*
    @abstract
    @usage

      <div class="rank">
        <div class="file-l{{N}}-m{{N}}-s{{N}}">
        ...
        </div>
      </div

    @detail file-l4-m3-s6::file-l2-m3-s6

      "large"
      -----------------------------
      |                   |       |
      |                   |       |
      -----------------------------

      "medium"
      ---------------------
      |         |         |
      |         |         |
      ---------------------

      "small"
      --------
      |      |
      |      |
      --------
      |      |
      |      |
      --------

  */
  /* line 305, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-s6"] {
    width: 100%;
  }

  /* line 309, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-s5"] {
    width: 83.333333334%;
  }

  /* line 313, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-s4"] {
    width: 66.666666667%;
  }

  /* line 317, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-s3"] {
    width: 50%;
  }

  /* line 321, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-s2"] {
    width: 33.333333333%;
  }

  /* line 325, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-s1"] {
    width: 16.666666667%;
  }

  /* line 330, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="-s"][class*="__centered"] {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 338, ../../../vendors/antigrid/_system/sass/_screen.scss */
  [class*="file"][class*="s6"] {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 586, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="file"] {
  display: block;
  float: left;
  padding: 0 10px;
}

/* line 592, ../../../vendors/antigrid/_system/sass/_screen.scss */
.rank {
  /*
    @abstract
  */
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/* line 244, ../../../vendors/antigrid/_system/sass/_screen.scss */
.rank:before {
  content: "";
  display: table;
}
/* line 249, ../../../vendors/antigrid/_system/sass/_screen.scss */
.rank:after {
  content: "";
  display: table;
  clear: both;
}
/* line 260, ../../../vendors/antigrid/_system/sass/_screen.scss */
.rank .rank > [class*="file"]:first-child {
  padding-left: 0;
}
/* line 264, ../../../vendors/antigrid/_system/sass/_screen.scss */
.rank .rank > [class*="file"]:last-child {
  padding-right: 0;
}

/* line 596, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="file"] img {
  width: 100%;
  height: auto;
}

/* line 601, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="castling"]:not([class*="__queen-side"]) {
  /*
    @usage

    <ul class="castling">
      <li>...</li>
      <li>...</li>
      <li>...</li>
      <li>...</li>
    </ul>
  */
}
/* line 358, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="castling"]:not([class*="__queen-side"]):after {
  content: '';
  display: inline-block;
  width: 100%;
}
/* line 364, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="castling"]:not([class*="__queen-side"]) img {
  max-width: 100%;
}
/* line 366, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="castling"]:not([class*="__queen-side"]) {
  text-align: justify;
  font-size: 0;
  padding: 0;
}
/* line 372, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="castling"]:not([class*="__queen-side"]) li {
  list-style: none;
  display: inline-block;
  width: 23%;
  transition: all 150ms ease-out;
  font-size: 16px;
  float: none !important;
}
/* line 380, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="castling"]:not([class*="__queen-side"]) li else {
  text-align: left;
}
/* line 389, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="castling"]:not([class*="__queen-side"]) .break {
  width: 100%;
  height: 0;
}

/* line 605, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="castling"][class*="__queen-side"] {
  /*
    @usage

    <ul class="castling">
      <li>...</li>
      <li>...</li>
      <li>...</li>
      <li>...</li>
    </ul>
  */
}
/* line 358, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="castling"][class*="__queen-side"]:after {
  content: '';
  display: inline-block;
  width: 100%;
}
/* line 364, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="castling"][class*="__queen-side"] img {
  max-width: 100%;
}
/* line 366, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="castling"][class*="__queen-side"] {
  text-align: justify;
  font-size: 0;
  padding: 0;
}
/* line 372, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="castling"][class*="__queen-side"] li {
  list-style: none;
  display: inline-block;
  width: 50%;
  transition: all 150ms ease-out;
  font-size: 16px;
  text-align: center;
  float: none !important;
}
/* line 380, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="castling"][class*="__queen-side"] li else {
  text-align: left;
}
/* line 389, ../../../vendors/antigrid/_system/sass/_screen.scss */
[class*="castling"][class*="__queen-side"] .break {
  width: 100%;
  height: 0;
}

/* line 609, ../../../vendors/antigrid/_system/sass/_screen.scss */
.flank {
  /*
    Flanks include rows.

    @usage

      <div class="row-1">
        1
      </div>
      <div class="row-3">
        3
      </div>
      <div class="row-2">
        2
      </div>

  */
}
/* line 415, ../../../vendors/antigrid/_system/sass/_screen.scss */
.flank .row-1 {
  /*$offset     : $offset / $rows;*/
  overflow-x: hidden !important;
  overflow-y: auto;
  height: calc((((100vh - 100px) / 6) * 1) - 10px);
  margin-bottom: 10px;
}
/* line 415, ../../../vendors/antigrid/_system/sass/_screen.scss */
.flank .row-2 {
  /*$offset     : $offset / $rows;*/
  overflow-x: hidden !important;
  overflow-y: auto;
  height: calc((((100vh - 100px) / 6) * 2) - 10px);
  margin-bottom: 10px;
}
/* line 415, ../../../vendors/antigrid/_system/sass/_screen.scss */
.flank .row-3 {
  /*$offset     : $offset / $rows;*/
  overflow-x: hidden !important;
  overflow-y: auto;
  height: calc((((100vh - 100px) / 6) * 3) - 10px);
  margin-bottom: 10px;
}
/* line 415, ../../../vendors/antigrid/_system/sass/_screen.scss */
.flank .row-4 {
  /*$offset     : $offset / $rows;*/
  overflow-x: hidden !important;
  overflow-y: auto;
  height: calc((((100vh - 100px) / 6) * 4) - 10px);
  margin-bottom: 10px;
}
/* line 415, ../../../vendors/antigrid/_system/sass/_screen.scss */
.flank .row-5 {
  /*$offset     : $offset / $rows;*/
  overflow-x: hidden !important;
  overflow-y: auto;
  height: calc((((100vh - 100px) / 6) * 5) - 10px);
  margin-bottom: 10px;
}
/* line 415, ../../../vendors/antigrid/_system/sass/_screen.scss */
.flank .row-6 {
  /*$offset     : $offset / $rows;*/
  overflow-x: hidden !important;
  overflow-y: auto;
  height: calc((((100vh - 100px) / 6) * 6) - 10px);
  margin-bottom: 10px;
}

/* line 613, ../../../vendors/antigrid/_system/sass/_screen.scss */
.tablebase {
  display: flex;
  flex-flow: row nowrap;
  /* @options $flex-direction $flex-wrap */
  justify-content: flex-start;
  /* @options flex-start, flex-end, center, space-between, space-around */
  align-content: stretch;
  /* @options flex-start, flex-end, center, space-between, space-around, stretch */
  align-items: stretch;
  /* @options flex-start, flex-end, center, baseline, stretch */
}
/* line 220, ../../../vendors/antigrid/_system/sass/_screen.scss */
.tablebase > * {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  flex-grow: 1;
}

/** ----------------------------- Normalization

    @consider https://github.com/marxo/Canonical.css/blob/master/canonical.scss

**/
/* line 537, ../../../vendors/antigrid/_system/sass/_screen.scss */
* a {
  color: #111111;
}
/* line 541, ../../../vendors/antigrid/_system/sass/_screen.scss */
* a:link {
  color: #111111;
}
/* line 545, ../../../vendors/antigrid/_system/sass/_screen.scss */
* a:visited {
  color: #999999;
}
/* line 549, ../../../vendors/antigrid/_system/sass/_screen.scss */
* a:hover {
  color: #f1f1f1;
}
/* line 553, ../../../vendors/antigrid/_system/sass/_screen.scss */
* a:active {
  color: #003399;
}

/* ------------------------------ Typesetting  */
/*
  @note https://github.com/sass/sass/issues/926
*/
/*@import "../../../../vendors/hint.css/src/hint";*/
/**
 *
 * All animations must live in their own file
 * in the animations directory and be included
 * here.
 *
 */
/**
 * Styles shared by multiple animations
 */
/**
 * Dots
 */
@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  45% {
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
}
/* line 23, ../../../vendors/loaders.css/src/animations/ball-pulse.scss */
.ball-pulse > div:nth-child(0) {
  animation: scale 0.75s -0.36s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 23, ../../../vendors/loaders.css/src/animations/ball-pulse.scss */
.ball-pulse > div:nth-child(1) {
  animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 23, ../../../vendors/loaders.css/src/animations/ball-pulse.scss */
.ball-pulse > div:nth-child(2) {
  animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 23, ../../../vendors/loaders.css/src/animations/ball-pulse.scss */
.ball-pulse > div:nth-child(3) {
  animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 32, ../../../vendors/loaders.css/src/animations/ball-pulse.scss */
.ball-pulse > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
}

@keyframes ball-pulse-sync {
  33% {
    transform: translateY(10px);
  }
  66% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* line 21, ../../../vendors/loaders.css/src/animations/ball-pulse-sync.scss */
.ball-pulse-sync > div:nth-child(0) {
  animation: ball-pulse-sync 0.6s -0.21s infinite ease-in-out;
}
/* line 21, ../../../vendors/loaders.css/src/animations/ball-pulse-sync.scss */
.ball-pulse-sync > div:nth-child(1) {
  animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
}
/* line 21, ../../../vendors/loaders.css/src/animations/ball-pulse-sync.scss */
.ball-pulse-sync > div:nth-child(2) {
  animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out;
}
/* line 21, ../../../vendors/loaders.css/src/animations/ball-pulse-sync.scss */
.ball-pulse-sync > div:nth-child(3) {
  animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
}
/* line 30, ../../../vendors/loaders.css/src/animations/ball-pulse-sync.scss */
.ball-pulse-sync > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
}

@keyframes ball-scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* line 16, ../../../vendors/loaders.css/src/animations/ball-scale.scss */
.ball-scale > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  height: 60px;
  width: 60px;
  animation: ball-scale 1s 0s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 16, ../../../vendors/loaders.css/src/animations/ball-rotate.scss */
.ball-rotate {
  position: relative;
}
/* line 19, ../../../vendors/loaders.css/src/animations/ball-rotate.scss */
.ball-rotate > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  position: relative;
}
/* line 25, ../../../vendors/loaders.css/src/animations/ball-rotate.scss */
.ball-rotate > div:first-child {
  animation: rotate 1s 0s cubic-bezier(0.7, -0.13, 0.22, 0.86) infinite;
}
/* line 29, ../../../vendors/loaders.css/src/animations/ball-rotate.scss */
.ball-rotate > div:before, .ball-rotate > div:after {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  content: "";
  position: absolute;
  opacity: 0.8;
}
/* line 37, ../../../vendors/loaders.css/src/animations/ball-rotate.scss */
.ball-rotate > div:before {
  top: 0px;
  left: -28px;
}
/* line 42, ../../../vendors/loaders.css/src/animations/ball-rotate.scss */
.ball-rotate > div:after {
  top: 0px;
  left: 25px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
/* line 18, ../../../vendors/loaders.css/src/animations/ball-clip-rotate.scss */
.ball-clip-rotate > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  height: 25px;
  width: 25px;
  background: transparent !important;
  display: inline-block;
  animation: rotate 0.75s 0s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes scale {
  30% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
/* line 25, ../../../vendors/loaders.css/src/animations/ball-clip-rotate-pulse.scss */
.ball-clip-rotate-pulse {
  position: relative;
  transform: translateY(-15px);
}
/* line 29, ../../../vendors/loaders.css/src/animations/ball-clip-rotate-pulse.scss */
.ball-clip-rotate-pulse > div {
  animation-fill-mode: both;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
}
/* line 37, ../../../vendors/loaders.css/src/animations/ball-clip-rotate-pulse.scss */
.ball-clip-rotate-pulse > div:first-child {
  background: #fff;
  height: 16px;
  width: 16px;
  top: 7px;
  left: -7px;
  animation: scale 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}
/* line 46, ../../../vendors/loaders.css/src/animations/ball-clip-rotate-pulse.scss */
.ball-clip-rotate-pulse > div:last-child {
  position: absolute;
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  left: -16px;
  top: -2px;
  background: transparent;
  border: 2px solid;
  border-color: #fff transparent #fff transparent;
  animation: rotate 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation-duration: 1s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
/* line 16, ../../../vendors/loaders.css/src/animations/ball-clip-rotate-multiple.scss */
.ball-clip-rotate-multiple {
  position: relative;
}
/* line 19, ../../../vendors/loaders.css/src/animations/ball-clip-rotate-multiple.scss */
.ball-clip-rotate-multiple > div {
  animation-fill-mode: both;
  position: absolute;
  left: -20px;
  top: -20px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  animation: rotate 1s 0s ease-in-out infinite;
}
/* line 33, ../../../vendors/loaders.css/src/animations/ball-clip-rotate-multiple.scss */
.ball-clip-rotate-multiple > div:last-child {
  display: inline-block;
  top: -10px;
  left: -10px;
  width: 15px;
  height: 15px;
  animation-duration: 0.5s;
  border-color: #fff transparent #fff transparent;
  animation-direction: reverse;
}

@keyframes ball-scale-ripple {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0.0;
  }
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-scale-ripple.scss */
.ball-scale-ripple > div {
  animation-fill-mode: both;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 2px solid #fff;
  animation: ball-scale-ripple 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}

@keyframes ball-scale-ripple-multiple {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0.0;
  }
}
/* line 29, ../../../vendors/loaders.css/src/animations/ball-scale-ripple-multiple.scss */
.ball-scale-ripple-multiple {
  position: relative;
  transform: translateY(-25px);
}
/* line 23, ../../../vendors/loaders.css/src/animations/ball-scale-ripple-multiple.scss */
.ball-scale-ripple-multiple > div:nth-child(0) {
  animation-delay: -0.8s;
}
/* line 23, ../../../vendors/loaders.css/src/animations/ball-scale-ripple-multiple.scss */
.ball-scale-ripple-multiple > div:nth-child(1) {
  animation-delay: -0.6s;
}
/* line 23, ../../../vendors/loaders.css/src/animations/ball-scale-ripple-multiple.scss */
.ball-scale-ripple-multiple > div:nth-child(2) {
  animation-delay: -0.4s;
}
/* line 23, ../../../vendors/loaders.css/src/animations/ball-scale-ripple-multiple.scss */
.ball-scale-ripple-multiple > div:nth-child(3) {
  animation-delay: -0.2s;
}
/* line 35, ../../../vendors/loaders.css/src/animations/ball-scale-ripple-multiple.scss */
.ball-scale-ripple-multiple > div {
  animation-fill-mode: both;
  position: absolute;
  top: -2px;
  left: -26px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #fff;
  animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}

@keyframes ball-beat {
  50% {
    opacity: 0.2;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* line 17, ../../../vendors/loaders.css/src/animations/ball-beat.scss */
.ball-beat > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation: ball-beat 0.7s 0s infinite linear;
}
/* line 24, ../../../vendors/loaders.css/src/animations/ball-beat.scss */
.ball-beat > div:nth-child(2n-1) {
  animation-delay: -0.35s !important;
}

@keyframes ball-scale-multiple {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* line 29, ../../../vendors/loaders.css/src/animations/ball-scale-multiple.scss */
.ball-scale-multiple {
  position: relative;
  transform: translateY(-30px);
}
/* line 23, ../../../vendors/loaders.css/src/animations/ball-scale-multiple.scss */
.ball-scale-multiple > div:nth-child(2) {
  animation-delay: -0.4s;
}
/* line 23, ../../../vendors/loaders.css/src/animations/ball-scale-multiple.scss */
.ball-scale-multiple > div:nth-child(3) {
  animation-delay: -0.2s;
}
/* line 35, ../../../vendors/loaders.css/src/animations/ball-scale-multiple.scss */
.ball-scale-multiple > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  position: absolute;
  left: -30px;
  top: 0px;
  opacity: 0;
  margin: 0;
  width: 60px;
  height: 60px;
  animation: ball-scale-multiple 1s 0s linear infinite;
}

@keyframes ball-triangle-path-1 {
  33% {
    transform: translate(25px, -50px);
  }
  66% {
    transform: translate(50px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-triangle-path-2 {
  33% {
    transform: translate(25px, 50px);
  }
  66% {
    transform: translate(-25px, 50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-triangle-path-3 {
  33% {
    transform: translate(-50px, 0px);
  }
  66% {
    transform: translate(-25px, -50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* line 56, ../../../vendors/loaders.css/src/animations/ball-triangle-trace.scss */
.ball-triangle-path {
  position: relative;
  transform: translate(-29.994px, -37.50938px);
}
/* line 46, ../../../vendors/loaders.css/src/animations/ball-triangle-trace.scss */
.ball-triangle-path > div:nth-child(1) {
  animation-name: ball-triangle-path-1;
  animation-delay: 0;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
/* line 46, ../../../vendors/loaders.css/src/animations/ball-triangle-trace.scss */
.ball-triangle-path > div:nth-child(2) {
  animation-name: ball-triangle-path-2;
  animation-delay: 0;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
/* line 46, ../../../vendors/loaders.css/src/animations/ball-triangle-trace.scss */
.ball-triangle-path > div:nth-child(3) {
  animation-name: ball-triangle-path-3;
  animation-delay: 0;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
/* line 61, ../../../vendors/loaders.css/src/animations/ball-triangle-trace.scss */
.ball-triangle-path > div {
  animation-fill-mode: both;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #fff;
}
/* line 70, ../../../vendors/loaders.css/src/animations/ball-triangle-trace.scss */
.ball-triangle-path > div:nth-of-type(1) {
  top: 50px;
}
/* line 74, ../../../vendors/loaders.css/src/animations/ball-triangle-trace.scss */
.ball-triangle-path > div:nth-of-type(2) {
  left: 25px;
}
/* line 78, ../../../vendors/loaders.css/src/animations/ball-triangle-trace.scss */
.ball-triangle-path > div:nth-of-type(3) {
  top: 50px;
  left: 50px;
}

@keyframes ball-pulse-rise-even {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: translateY(-30px);
  }
  50% {
    transform: scale(0.4);
  }
  75% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
    transform: scale(1);
  }
}
@keyframes ball-pulse-rise-odd {
  0% {
    transform: scale(0.4);
  }
  25% {
    transform: translateY(30px);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
    transform: scale(0.75);
  }
}
/* line 46, ../../../vendors/loaders.css/src/animations/ball-pulse-rise.scss */
.ball-pulse-rise > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.15, 0.46, 0.9, 0.6);
  animation-iteration-count: infinite;
  animation-delay: 0;
}
/* line 56, ../../../vendors/loaders.css/src/animations/ball-pulse-rise.scss */
.ball-pulse-rise > div:nth-child(2n) {
  animation-name: ball-pulse-rise-even;
}
/* line 60, ../../../vendors/loaders.css/src/animations/ball-pulse-rise.scss */
.ball-pulse-rise > div:nth-child(2n-1) {
  animation-name: ball-pulse-rise-odd;
}

@keyframes ball-grid-beat {
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
/* line 23, ../../../vendors/loaders.css/src/animations/ball-grid-beat.scss */
.ball-grid-beat {
  width: 57px;
}
/* line 15, ../../../vendors/loaders.css/src/animations/ball-grid-beat.scss */
.ball-grid-beat > div:nth-child(1) {
  animation-delay: 0.42s;
  animation-duration: 1.31s;
}
/* line 15, ../../../vendors/loaders.css/src/animations/ball-grid-beat.scss */
.ball-grid-beat > div:nth-child(2) {
  animation-delay: -0.01s;
  animation-duration: 1.15s;
}
/* line 15, ../../../vendors/loaders.css/src/animations/ball-grid-beat.scss */
.ball-grid-beat > div:nth-child(3) {
  animation-delay: 0.55s;
  animation-duration: 1.41s;
}
/* line 15, ../../../vendors/loaders.css/src/animations/ball-grid-beat.scss */
.ball-grid-beat > div:nth-child(4) {
  animation-delay: 0.5s;
  animation-duration: 1.19s;
}
/* line 15, ../../../vendors/loaders.css/src/animations/ball-grid-beat.scss */
.ball-grid-beat > div:nth-child(5) {
  animation-delay: 0.52s;
  animation-duration: 1.41s;
}
/* line 15, ../../../vendors/loaders.css/src/animations/ball-grid-beat.scss */
.ball-grid-beat > div:nth-child(6) {
  animation-delay: 0.65s;
  animation-duration: 1.53s;
}
/* line 15, ../../../vendors/loaders.css/src/animations/ball-grid-beat.scss */
.ball-grid-beat > div:nth-child(7) {
  animation-delay: -0.17s;
  animation-duration: 1.52s;
}
/* line 15, ../../../vendors/loaders.css/src/animations/ball-grid-beat.scss */
.ball-grid-beat > div:nth-child(8) {
  animation-delay: 0.23s;
  animation-duration: 1.32s;
}
/* line 15, ../../../vendors/loaders.css/src/animations/ball-grid-beat.scss */
.ball-grid-beat > div:nth-child(9) {
  animation-delay: 0.67s;
  animation-duration: 0.97s;
}
/* line 27, ../../../vendors/loaders.css/src/animations/ball-grid-beat.scss */
.ball-grid-beat > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  float: left;
  animation-name: ball-grid-beat;
  animation-iteration-count: infinite;
  animation-delay: 0;
}

@keyframes ball-grid-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* line 28, ../../../vendors/loaders.css/src/animations/ball-grid-pulse.scss */
.ball-grid-pulse {
  width: 57px;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-grid-pulse.scss */
.ball-grid-pulse > div:nth-child(1) {
  animation-delay: 0.44s;
  animation-duration: 1.47s;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-grid-pulse.scss */
.ball-grid-pulse > div:nth-child(2) {
  animation-delay: -0.16s;
  animation-duration: 1.47s;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-grid-pulse.scss */
.ball-grid-pulse > div:nth-child(3) {
  animation-delay: 0.34s;
  animation-duration: 1.54s;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-grid-pulse.scss */
.ball-grid-pulse > div:nth-child(4) {
  animation-delay: -0.07s;
  animation-duration: 0.72s;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-grid-pulse.scss */
.ball-grid-pulse > div:nth-child(5) {
  animation-delay: 0.63s;
  animation-duration: 1.5s;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-grid-pulse.scss */
.ball-grid-pulse > div:nth-child(6) {
  animation-delay: 0.68s;
  animation-duration: 0.65s;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-grid-pulse.scss */
.ball-grid-pulse > div:nth-child(7) {
  animation-delay: 0.63s;
  animation-duration: 0.84s;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-grid-pulse.scss */
.ball-grid-pulse > div:nth-child(8) {
  animation-delay: 0.3s;
  animation-duration: 0.75s;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-grid-pulse.scss */
.ball-grid-pulse > div:nth-child(9) {
  animation-delay: -0.09s;
  animation-duration: 1.53s;
}
/* line 32, ../../../vendors/loaders.css/src/animations/ball-grid-pulse.scss */
.ball-grid-pulse > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  float: left;
  animation-name: ball-grid-pulse;
  animation-iteration-count: infinite;
  animation-delay: 0;
}

@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* line 55, ../../../vendors/loaders.css/src/animations/ball-spin-fade-loader.scss */
.ball-spin-fade-loader {
  position: relative;
  top: -10px;
  left: -10px;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-spin-fade-loader.scss */
.ball-spin-fade-loader > div:nth-child(1) {
  top: 25px;
  left: 0;
  animation: ball-spin-fade-loader 1s -0.96s infinite linear;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-spin-fade-loader.scss */
.ball-spin-fade-loader > div:nth-child(2) {
  top: 17.04545px;
  left: 17.04545px;
  animation: ball-spin-fade-loader 1s -0.84s infinite linear;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-spin-fade-loader.scss */
.ball-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 25px;
  animation: ball-spin-fade-loader 1s -0.72s infinite linear;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-spin-fade-loader.scss */
.ball-spin-fade-loader > div:nth-child(4) {
  top: -17.04545px;
  left: 17.04545px;
  animation: ball-spin-fade-loader 1s -0.6s infinite linear;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-spin-fade-loader.scss */
.ball-spin-fade-loader > div:nth-child(5) {
  top: -25px;
  left: 0;
  animation: ball-spin-fade-loader 1s -0.48s infinite linear;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-spin-fade-loader.scss */
.ball-spin-fade-loader > div:nth-child(6) {
  top: -17.04545px;
  left: -17.04545px;
  animation: ball-spin-fade-loader 1s -0.36s infinite linear;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-spin-fade-loader.scss */
.ball-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -25px;
  animation: ball-spin-fade-loader 1s -0.24s infinite linear;
}
/* line 20, ../../../vendors/loaders.css/src/animations/ball-spin-fade-loader.scss */
.ball-spin-fade-loader > div:nth-child(8) {
  top: 17.04545px;
  left: -17.04545px;
  animation: ball-spin-fade-loader 1s -0.12s infinite linear;
}
/* line 62, ../../../vendors/loaders.css/src/animations/ball-spin-fade-loader.scss */
.ball-spin-fade-loader > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  position: absolute;
}

@keyframes ball-spin-loader {
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
/* line 52, ../../../vendors/loaders.css/src/animations/ball-spin-loader.scss */
.ball-spin-loader {
  position: relative;
}
/* line 17, ../../../vendors/loaders.css/src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(1) {
  top: 45px;
  left: 0;
  animation: ball-spin-loader 2s 0.9s infinite linear;
}
/* line 17, ../../../vendors/loaders.css/src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(2) {
  top: 30.68182px;
  left: 30.68182px;
  animation: ball-spin-loader 2s 1.8s infinite linear;
}
/* line 17, ../../../vendors/loaders.css/src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(3) {
  top: 0;
  left: 45px;
  animation: ball-spin-loader 2s 2.7s infinite linear;
}
/* line 17, ../../../vendors/loaders.css/src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(4) {
  top: -30.68182px;
  left: 30.68182px;
  animation: ball-spin-loader 2s 3.6s infinite linear;
}
/* line 17, ../../../vendors/loaders.css/src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(5) {
  top: -45px;
  left: 0;
  animation: ball-spin-loader 2s 4.5s infinite linear;
}
/* line 17, ../../../vendors/loaders.css/src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(6) {
  top: -30.68182px;
  left: -30.68182px;
  animation: ball-spin-loader 2s 5.4s infinite linear;
}
/* line 17, ../../../vendors/loaders.css/src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(7) {
  top: 0;
  left: -45px;
  animation: ball-spin-loader 2s 6.3s infinite linear;
}
/* line 17, ../../../vendors/loaders.css/src/animations/ball-spin-loader.scss */
.ball-spin-loader > span:nth-child(8) {
  top: 30.68182px;
  left: -30.68182px;
  animation: ball-spin-loader 2s 7.2s infinite linear;
}
/* line 56, ../../../vendors/loaders.css/src/animations/ball-spin-loader.scss */
.ball-spin-loader > div {
  animation-fill-mode: both;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: green;
}

@keyframes ball-zig {
  33% {
    transform: translate(-15px, -30px);
  }
  66% {
    transform: translate(15px, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes ball-zag {
  33% {
    transform: translate(15px, 30px);
  }
  66% {
    transform: translate(-15px, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* line 30, ../../../vendors/loaders.css/src/animations/ball-zig-zag.scss */
.ball-zig-zag {
  position: relative;
  transform: translate(-15px, -15px);
}
/* line 34, ../../../vendors/loaders.css/src/animations/ball-zig-zag.scss */
.ball-zig-zag > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  position: absolute;
  margin-left: 15px;
  top: 4px;
  left: -7px;
}
/* line 43, ../../../vendors/loaders.css/src/animations/ball-zig-zag.scss */
.ball-zig-zag > div:first-child {
  animation: ball-zig 0.7s 0s infinite linear;
}
/* line 47, ../../../vendors/loaders.css/src/animations/ball-zig-zag.scss */
.ball-zig-zag > div:last-child {
  animation: ball-zag 0.7s 0s infinite linear;
}

@keyframes ball-zig-deflect {
  17% {
    transform: translate(-15px, -30px);
  }
  34% {
    transform: translate(15px, -30px);
  }
  50% {
    transform: translate(0, 0);
  }
  67% {
    transform: translate(15px, -30px);
  }
  84% {
    transform: translate(-15px, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes ball-zag-deflect {
  17% {
    transform: translate(15px, 30px);
  }
  34% {
    transform: translate(-15px, 30px);
  }
  50% {
    transform: translate(0, 0);
  }
  67% {
    transform: translate(-15px, 30px);
  }
  84% {
    transform: translate(15px, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* line 48, ../../../vendors/loaders.css/src/animations/ball-zig-zag-deflect.scss */
.ball-zig-zag-deflect {
  position: relative;
  transform: translate(-15px, -15px);
}
/* line 52, ../../../vendors/loaders.css/src/animations/ball-zig-zag-deflect.scss */
.ball-zig-zag-deflect > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  position: absolute;
  margin-left: 15px;
  top: 4px;
  left: -7px;
}
/* line 61, ../../../vendors/loaders.css/src/animations/ball-zig-zag-deflect.scss */
.ball-zig-zag-deflect > div:first-child {
  animation: ball-zig-deflect 1.5s 0s infinite linear;
}
/* line 65, ../../../vendors/loaders.css/src/animations/ball-zig-zag-deflect.scss */
.ball-zig-zag-deflect > div:last-child {
  animation: ball-zag-deflect 1.5s 0s infinite linear;
}

/**
 * Lines
 */
@keyframes line-scale {
  0% {
    transform: scaley(1);
  }
  50% {
    transform: scaley(0.4);
  }
  100% {
    transform: scaley(1);
  }
}
/* line 19, ../../../vendors/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(1) {
  animation: line-scale 1s -0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 19, ../../../vendors/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(2) {
  animation: line-scale 1s -0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 19, ../../../vendors/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(3) {
  animation: line-scale 1s -0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 19, ../../../vendors/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(4) {
  animation: line-scale 1s -0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 19, ../../../vendors/loaders.css/src/animations/line-scale.scss */
.line-scale > div:nth-child(5) {
  animation: line-scale 1s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
/* line 28, ../../../vendors/loaders.css/src/animations/line-scale.scss */
.line-scale > div {
  background-color: #fff;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
}

@keyframes line-scale-party {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
/* line 19, ../../../vendors/loaders.css/src/animations/line-scale-random.scss */
.line-scale-party > div:nth-child(1) {
  animation-delay: 0.09s;
  animation-duration: 0.44s;
}
/* line 19, ../../../vendors/loaders.css/src/animations/line-scale-random.scss */
.line-scale-party > div:nth-child(2) {
  animation-delay: 0.6s;
  animation-duration: 0.66s;
}
/* line 19, ../../../vendors/loaders.css/src/animations/line-scale-random.scss */
.line-scale-party > div:nth-child(3) {
  animation-delay: 0.28s;
  animation-duration: 1.16s;
}
/* line 19, ../../../vendors/loaders.css/src/animations/line-scale-random.scss */
.line-scale-party > div:nth-child(4) {
  animation-delay: 0.67s;
  animation-duration: 0.55s;
}
/* line 29, ../../../vendors/loaders.css/src/animations/line-scale-random.scss */
.line-scale-party > div {
  background-color: #fff;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation-name: line-scale-party;
  animation-iteration-count: infinite;
  animation-delay: 0;
}

@keyframes line-scale-pulse-out {
  0% {
    transform: scaley(1);
  }
  50% {
    transform: scaley(0.4);
  }
  100% {
    transform: scaley(1);
  }
}
/* line 19, ../../../vendors/loaders.css/src/animations/line-scale-pulse-out.scss */
.line-scale-pulse-out > div {
  background-color: #fff;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}
/* line 26, ../../../vendors/loaders.css/src/animations/line-scale-pulse-out.scss */
.line-scale-pulse-out > div:nth-child(2), .line-scale-pulse-out > div:nth-child(4) {
  animation-delay: -0.4s !important;
}
/* line 30, ../../../vendors/loaders.css/src/animations/line-scale-pulse-out.scss */
.line-scale-pulse-out > div:nth-child(1), .line-scale-pulse-out > div:nth-child(5) {
  animation-delay: -0.2s !important;
}

@keyframes line-scale-pulse-out-rapid {
  0% {
    transform: scaley(1);
  }
  80% {
    transform: scaley(0.3);
  }
  90% {
    transform: scaley(1);
  }
}
/* line 18, ../../../vendors/loaders.css/src/animations/line-scale-pulse-out-rapid.scss */
.line-scale-pulse-out-rapid > div {
  background-color: #fff;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation: line-scale-pulse-out-rapid 0.9s -0.5s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78);
}
/* line 25, ../../../vendors/loaders.css/src/animations/line-scale-pulse-out-rapid.scss */
.line-scale-pulse-out-rapid > div:nth-child(2), .line-scale-pulse-out-rapid > div:nth-child(4) {
  animation-delay: -0.25s !important;
}
/* line 29, ../../../vendors/loaders.css/src/animations/line-scale-pulse-out-rapid.scss */
.line-scale-pulse-out-rapid > div:nth-child(1), .line-scale-pulse-out-rapid > div:nth-child(5) {
  animation-delay: 0s !important;
}

@keyframes line-spin-fade-loader {
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
/* line 59, ../../../vendors/loaders.css/src/animations/line-spin-fade-loader.scss */
.line-spin-fade-loader {
  position: relative;
  top: -10px;
  left: -4px;
}
/* line 18, ../../../vendors/loaders.css/src/animations/line-spin-fade-loader.scss */
.line-spin-fade-loader > div:nth-child(1) {
  top: 20px;
  left: 0;
  animation: line-spin-fade-loader 1.2s -0.84s infinite ease-in-out;
}
/* line 18, ../../../vendors/loaders.css/src/animations/line-spin-fade-loader.scss */
.line-spin-fade-loader > div:nth-child(2) {
  top: 13.63636px;
  left: 13.63636px;
  transform: rotate(-45deg);
  animation: line-spin-fade-loader 1.2s -0.72s infinite ease-in-out;
}
/* line 18, ../../../vendors/loaders.css/src/animations/line-spin-fade-loader.scss */
.line-spin-fade-loader > div:nth-child(3) {
  top: 0;
  left: 20px;
  transform: rotate(90deg);
  animation: line-spin-fade-loader 1.2s -0.6s infinite ease-in-out;
}
/* line 18, ../../../vendors/loaders.css/src/animations/line-spin-fade-loader.scss */
.line-spin-fade-loader > div:nth-child(4) {
  top: -13.63636px;
  left: 13.63636px;
  transform: rotate(45deg);
  animation: line-spin-fade-loader 1.2s -0.48s infinite ease-in-out;
}
/* line 18, ../../../vendors/loaders.css/src/animations/line-spin-fade-loader.scss */
.line-spin-fade-loader > div:nth-child(5) {
  top: -20px;
  left: 0;
  animation: line-spin-fade-loader 1.2s -0.36s infinite ease-in-out;
}
/* line 18, ../../../vendors/loaders.css/src/animations/line-spin-fade-loader.scss */
.line-spin-fade-loader > div:nth-child(6) {
  top: -13.63636px;
  left: -13.63636px;
  transform: rotate(-45deg);
  animation: line-spin-fade-loader 1.2s -0.24s infinite ease-in-out;
}
/* line 18, ../../../vendors/loaders.css/src/animations/line-spin-fade-loader.scss */
.line-spin-fade-loader > div:nth-child(7) {
  top: 0;
  left: -20px;
  transform: rotate(90deg);
  animation: line-spin-fade-loader 1.2s -0.12s infinite ease-in-out;
}
/* line 18, ../../../vendors/loaders.css/src/animations/line-spin-fade-loader.scss */
.line-spin-fade-loader > div:nth-child(8) {
  top: 13.63636px;
  left: -13.63636px;
  transform: rotate(45deg);
  animation: line-spin-fade-loader 1.2s 0s infinite ease-in-out;
}
/* line 65, ../../../vendors/loaders.css/src/animations/line-spin-fade-loader.scss */
.line-spin-fade-loader > div {
  background-color: #fff;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  position: absolute;
  width: 5px;
  height: 15px;
}

/**
 * Misc
 */
@keyframes triangle-skew-spin {
  25% {
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}
/* line 23, ../../../vendors/loaders.css/src/animations/triangle-skew-spin.scss */
.triangle-skew-spin > div {
  animation-fill-mode: both;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  animation: triangle-skew-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}

@keyframes square-spin {
  25% {
    transform: perspective(100px) rotateX(180deg) rotateY(0);
  }
  50% {
    transform: perspective(100px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: perspective(100px) rotateX(0) rotateY(180deg);
  }
  100% {
    transform: perspective(100px) rotateX(0) rotateY(0);
  }
}
/* line 21, ../../../vendors/loaders.css/src/animations/square-spin.scss */
.square-spin > div {
  animation-fill-mode: both;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid red;
  animation: square-spin 3s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}

@keyframes rotate_pacman_half_up {
  0% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes rotate_pacman_half_down {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes pacman-balls {
  75% {
    opacity: 0.7;
  }
  100% {
    transform: translate(-100px, -6.25px);
  }
}
/* line 58, ../../../vendors/loaders.css/src/animations/pacman.scss */
.pacman {
  position: relative;
}
/* line 52, ../../../vendors/loaders.css/src/animations/pacman.scss */
.pacman > div:nth-child(2) {
  animation: pacman-balls 1s -0.99s infinite linear;
}
/* line 52, ../../../vendors/loaders.css/src/animations/pacman.scss */
.pacman > div:nth-child(3) {
  animation: pacman-balls 1s -0.66s infinite linear;
}
/* line 52, ../../../vendors/loaders.css/src/animations/pacman.scss */
.pacman > div:nth-child(4) {
  animation: pacman-balls 1s -0.33s infinite linear;
}
/* line 52, ../../../vendors/loaders.css/src/animations/pacman.scss */
.pacman > div:nth-child(5) {
  animation: pacman-balls 1s 0s infinite linear;
}
/* line 63, ../../../vendors/loaders.css/src/animations/pacman.scss */
.pacman > div:first-of-type {
  width: 0px;
  height: 0px;
  border-right: 25px solid transparent;
  border-top: 25px solid #fff;
  border-left: 25px solid #fff;
  border-bottom: 25px solid #fff;
  border-radius: 25px;
  animation: rotate_pacman_half_up 0.5s 0s infinite;
  position: relative;
  left: -30px;
}
/* line 70, ../../../vendors/loaders.css/src/animations/pacman.scss */
.pacman > div:nth-child(2) {
  width: 0px;
  height: 0px;
  border-right: 25px solid transparent;
  border-top: 25px solid #fff;
  border-left: 25px solid #fff;
  border-bottom: 25px solid #fff;
  border-radius: 25px;
  animation: rotate_pacman_half_down 0.5s 0s infinite;
  margin-top: -50px;
  position: relative;
  left: -30px;
}
/* line 78, ../../../vendors/loaders.css/src/animations/pacman.scss */
.pacman > div:nth-child(3),
.pacman > div:nth-child(4),
.pacman > div:nth-child(5),
.pacman > div:nth-child(6) {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: translate(0, -6.25px);
  top: 25px;
  left: 70px;
}

@keyframes cube-transition {
  25% {
    transform: translateX(50px) scale(0.5) rotate(-90deg);
  }
  50% {
    transform: translate(50px, 50px) rotate(-180deg);
  }
  75% {
    transform: translateY(50px) scale(0.5) rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* line 22, ../../../vendors/loaders.css/src/animations/cube-transition.scss */
.cube-transition {
  position: relative;
  transform: translate(-25px, -25px);
}
/* line 26, ../../../vendors/loaders.css/src/animations/cube-transition.scss */
.cube-transition > div {
  animation-fill-mode: both;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #fff;
  animation: cube-transition 1.6s 0s infinite ease-in-out;
}
/* line 37, ../../../vendors/loaders.css/src/animations/cube-transition.scss */
.cube-transition > div:last-child {
  animation-delay: -0.8s;
}

@keyframes spin-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 19, ../../../vendors/loaders.css/src/animations/semi-circle-spin.scss */
.semi-circle-spin {
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
/* line 25, ../../../vendors/loaders.css/src/animations/semi-circle-spin.scss */
.semi-circle-spin > div {
  position: absolute;
  border-width: 0px;
  border-radius: 100%;
  animation: spin-rotate 0.6s 0s infinite linear;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, #ffffff 30%, #ffffff 100%);
  width: 100%;
  height: 100%;
}

/*! Canonical.css by Marko Kazhich (marxo.me) */
/**
 * Setting box-sizing to border-box initially
 */
/* line 7, ../../../vendors/canonical.css/canonical.scss */
:root {
  box-sizing: border-box;
  font: 16px/1.5 sans-serif;
}

/**
 * 1. Inherit border-box on all elements
 * 2. Aligns inline and inline-block elements to the middle
 */
/* line 16, ../../../vendors/canonical.css/canonical.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/* line 26, ../../../vendors/canonical.css/canonical.scss */
body {
  margin: 0;
}

/* line 32, ../../../vendors/canonical.css/canonical.scss */
details,
summary,
main {
  display: block;
}

/* line 39, ../../../vendors/canonical.css/canonical.scss */
progress,
b,
i,
strong,
em,
a,
span {
  vertical-align: baseline;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 53, ../../../vendors/canonical.css/canonical.scss */
[hidden],
template {
  display: none;
}

/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability of focused elements when they are also in an
 * active/hover state.
 * 3. Use a pointer cursor for all links even without a href attribute
 */
/* line 64, ../../../vendors/canonical.css/canonical.scss */
a {
  background-color: transparent;
  /* 1 */
  cursor: pointer;
  /* 3 */
}
/* line 68, ../../../vendors/canonical.css/canonical.scss */
a:active, a:hover {
  outline: 0;
  /* 2 */
}

/**
 * 1. Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 79, ../../../vendors/canonical.css/canonical.scss */
b,
strong {
  /* 1 */
  font-weight: bold;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 90, ../../../vendors/canonical.css/canonical.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 98, ../../../vendors/canonical.css/canonical.scss */
small {
  font-size: .75em;
}

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 105, ../../../vendors/canonical.css/canonical.scss */
img {
  border: 0;
}

/**
 * Normalize horizontal rule and keep it lean
 */
/* line 112, ../../../vendors/canonical.css/canonical.scss */
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/**
 * Contain overflow in all browsers.
 */
/* line 122, ../../../vendors/canonical.css/canonical.scss */
pre {
  overflow: auto;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 129, ../../../vendors/canonical.css/canonical.scss */
sub,
sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 137, ../../../vendors/canonical.css/canonical.scss */
sup {
  top: -0.25em;
}

/* line 141, ../../../vendors/canonical.css/canonical.scss */
sub {
  bottom: -0.25em;
}

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 155, ../../../vendors/canonical.css/canonical.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 173, ../../../vendors/canonical.css/canonical.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 183, ../../../vendors/canonical.css/canonical.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Correct inability to style clickable `input` types in iOS.
 * 2. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 */
/* line 193, ../../../vendors/canonical.css/canonical.scss */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 1 */
  cursor: pointer;
  /* 2 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 205, ../../../vendors/canonical.css/canonical.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/**
 * Reset button styling for disabled buttons in Chrome/Blink/WebKit
 */
/* line 213, ../../../vendors/canonical.css/canonical.scss */
button[disabled],
input[type=submit][disabled] {
  -webkit-appearance: textfield;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 221, ../../../vendors/canonical.css/canonical.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * Remove excess padding in IE 8/9/10.
 */
/* line 233, ../../../vendors/canonical.css/canonical.scss */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 243, ../../../vendors/canonical.css/canonical.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 252, ../../../vendors/canonical.css/canonical.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 265, ../../../vendors/canonical.css/canonical.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Hide clear button in Internet Explorer 10/11 */
/* line 271, ../../../vendors/canonical.css/canonical.scss */
::-ms-clear {
  display: none;
}

/* Hide reveal password button in Internet Explorer 10/11 */
/* line 276, ../../../vendors/canonical.css/canonical.scss */
::-ms-reveal {
  display: none;
}

/* Responsive images and other embedded objects */
/* line 281, ../../../vendors/canonical.css/canonical.scss */
img,
object,
embed {
  max-width: 100%;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 290, ../../../vendors/canonical.css/canonical.scss */
svg:not(:root) {
  overflow: hidden;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 297, ../../../vendors/canonical.css/canonical.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 2. Disable textarea horizontal resize
 */
/* line 307, ../../../vendors/canonical.css/canonical.scss */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
/* line 318, ../../../vendors/canonical.css/canonical.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 323, ../../../vendors/canonical.css/canonical.scss */
td,
th {
  padding: 0;
}

/**
 * Adress `video` being streched out of proportion and responsive video
 */
/* line 331, ../../../vendors/canonical.css/canonical.scss */
video {
  max-width: 100%;
  height: auto;
}

/* line 1, ../sass/implementation/_base.scss */
[ng-view] {
  text-align: center;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-flex-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

/* line 21, ../sass/implementation/_base.scss */
[data-hint]:after {
  left: 15% !important;
}

/* line 25, ../sass/implementation/_base.scss */
.accessibly-hide {
  position: absolute;
  left: -9999px;
}
